$font-size-base: 13;
$line-height-base: 1.4;

@import '../node_modules/bootstrap/scss/bootstrap';

/* Show it is fixed to the top */
body {
  padding-top: 4.5rem;
}

/**
 * Move inner invalid icon (!) from right of the input into left by overriding
 * the following styles:
 * https://github.com/twbs/bootstrap/blob/v4.6.0/scss/mixins/_forms.scss#L88-L91
 */
input.form-control.is-invalid.text-right {
  padding-left: $input-height-inner;
  padding-right: $input-padding-x;
  background-position: left $input-height-inner-quarter center;
}

/**
 * Remove Chrome spin buttons from number type inputs
 * Inspiration:
 * - https://stackoverflow.com/questions/28320349/input-type-number-hide-arrows-from-right-part-of-input
 * - https://stackoverflow.com/questions/25461223/disable-webkits-spin-buttons-on-input-type-number-in-angularjs
 */
input[type='number'] {
  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

footer {
  font-size: '0.875rem';
  color: '#63707c';

  a {
    font-weight: 600;
    color: #495057;
    text-decoration: underline;
  }
}
